<head>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class ="box" id="heading">
        <h1>This is the introductory page of todolist</h1>
    </div>
    <form action="/about" class="item" method="post">
        <button type="submit" name="buttonNext"> => </button>
    </form>
    <%- include("footer") -%>
</body>